* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 15px;
  max-width: 1128px;
  min-height: 100vh;
  position: relative;
}
p {
  margin: 0;
  padding: 0;
}
.loader, .error {
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.breed-select {
  display: block;
  margin: 0 auto;
  width: 200px;
  margin-bottom: 20px;
}
.cat-info {
  display: flex;
}
.box {
  width: calc(100% / 2);
}
